<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="nav-collapse in collapse">
         <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><a href="/"><img src="/assets/gifs/note.gif" alt="bio" style="width:48px;height:48px;">Home</a></th>
        <th><a href="/about"><img src="/assets/gifs/bio.gif" alt="bio" style="width:48px;height:48px;">About Me</a></th>
        <th><a href="/music"><img src="/assets/gifs/cdwin.gif" alt="listen" style="width:48px;">My Music</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://iamjohnvandeusen.bandcamp.com/"><img src="/assets/gifs/cash.gif" alt="listen" style="width:48px;">Bandcamp</a></td>
        <td><a href="https://www.instagram.com/jvdmusic/"><img src="/assets/gifs/insta.gif" alt="listen" style="width:48px;height:48px;">Instagram</a></td>
        <td><a href="https://www.facebook.com/iamjohnvandeusen/"><img src="/assets/gifs/facebook.gif" alt="listen" style="width:48px;">Facebook</a></td>
      </tr>
    </tbody>
  </table>
        </div>
</nav>

