---
---

@import "main";

body, html {
margin-left:2%;
margin-right:2%;
margin-bottom:2%;
margin-top:2%;
}

/* Optional styling */
summary::-webkit-details-marker {
  color: blue;
}

details summary { 
  cursor: pointer;
}

details > summary {
  color: #ffffff;
  background-color: #ff0000;
  cursor: pointer;
  padding: .5rem 1rem;
}

details > summary > * {
  display: inline;
}

details > div {
  border: 2px solid #ff0000;
  margin-top: 0;
  padding: 1rem;
}
